# external requirements
auto-pypi
coverage
flake8
pylint
black
pytest

# documentation requirements
Sphinx
sphinx-material
numpydoc
nbsphinx
recommonmark
sphinx_markdown_tables
sphinx_copybutton

# package dependencies
pandas
numpy
scikit-learn
imbalanced-learn
research-learn
rich
matplotlib
seaborn
requests
som-learn
