# local package
# -e .

# package dependencies
pandas
numpy
scikit-learn
imbalanced-learn
research-learn
rich
matplotlib
seaborn
requests

# experiment dependencies
geometric-smote
cluster-over-sampling
