# external requirements
auto-pypi
coverage
flake8
pylint
black
pytest-cov

# documentation requirements
Sphinx
sphinx-material
numpydoc
nbsphinx
recommonmark
sphinx_markdown_tables
sphinx_copybutton

# package dependencies
pandas>=1.3.4
numpy>=1.21
scikit-learn>=1.0.0
imbalanced-learn
research-learn
rich
matplotlib
seaborn
requests
som-learn==0.1.1
